<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FORM</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form accept-charset="" autocomplete="" name="" action="" enctype="" method="" target="" novalidate>
        <input type="button" autocomplete="" form="" list="" name=""  type="" value="" autofocus disabled readonly required>
        <input type="checkbox" name="" value="" checked disabled required>
        <input type="color">
        <input type="date">
        <input type="datetime">
        <input type="datetime-local">
        <input type="email" multiple size="">
        <input type="file" accept="" multiple>
        <input type="hidden">
        <input type="image" alt="" formaction="" formenctype="" formmethod="" formnovalidate formtarget="" height="" width="" src="">
        <input type="month">
        <input type="number" step="" min="" minlength="" max="" multiple>
        <input type="password" maxlength="" minlength="" pattern="" placeholder="" size="">
        <input type="radio" checked>
        <input type="range">
        <input type="reset">
        <input type="search" dirname="" maxlength="" placeholder="">
        <input type="submit" formaction="" formenctype="" formmethod="" formnovalidate formtarget="">
        <input type="tel" step="" maxlength="" minlength="" pattern="" placeholder="" size="">
        <input type="text" dirname="" maxlength="" minlength="" pattern="" placeholder="" size="">
        <input type="time">
        <input type="url" maxlength="" minlength="" placeholder="">
        <input type="week">
        <textarea rows="4" cols="50">At w3schools.com you will learn how to make a website.</textarea>
        <label for="male">Male</label>      <input type="radio" name="gender" id="male" value="male"><br>
        <fieldset>
            <legend>Personalia:</legend>
            Name: <input type="text" size="30"><br>
            Email: <input type="text" size="30"><br>
            Date of birth: <input type="text" size="10">
        </fieldset>
        <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <select>
            <optgroup label="Swedish Cars">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
            </optgroup>
            <optgroup label="German Cars">
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </optgroup>
        </select>
        <button type="button">Click Me!</button>

        <input list="browsers">
        <datalist id="browsers">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist>

    </form>

    <form action="demo_keygen.asp" method="get">
        Username: <input type="text" name="usr_name">
        Encryption: <keygen name="security">
        <input type="submit">
    </form>

    <form oninput="x.value=parseInt(a.value)+parseInt(b.value)">0
        <input type="range" id="a" value="50">100
        +<input type="number" id="b" value="50">
        =<output name="x" for="a b"></output>
    </form>
</body>
</html>